:root {
  --color-main-darkblue: #011c44;
  --color-main-lightblue: #2b7fff;
  --color-main-white: #fff;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-yellow: #ffd02b;
  --color-secondary-gray: #747272;
  --color-secondary-darkgray: #4a4a4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
