header {
  position: absolute;
  z-index: 2;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
}

.main_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.main_navigation_logo {
  height: 42px;
}

.main_navigation_list {
  display: flex;
  gap: 56px;
}

.main_navigation_link {
  padding: 10px 0;
  text-decoration: none;
  color: var(--color-main-darkblue);
  white-space: nowrap;
  transition: color 200ms linear;
}

.main_navigation_link:hover {
  color: var(--color-main-lightblue);
  font-weight: 700;
}

.address_links_list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.address_links_item {
  display: flex;
  align-items: center;
  fill: var(--color-main-darkblue);
  transition: fill 200ms;
}

.address_links_item:hover {
  fill: var(--color-main-lightblue);
}
