.hero-section {
  position: relative;
  padding-top: 122px;
  padding-bottom: 126px;
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;

  .container {
    position: relative;
    z-index: 1;
  }
}

.hero-gradient {
  position: absolute;
  top: 0;
  right: 37px;
  height: 100%;
  fill: linear-gradient(
    94deg,
    #fff 9.65%,
    rgba(255, 255, 255, 0.85) 26.08%,
    rgba(255, 255, 255, 0.19) 52.74%,
    rgba(255, 255, 255, 0) 74.46%
  );
}

.hero-content {
  max-width: 529px;
}
.hero-title {
  margin: 0 0 16px 0;
}
.hero-title-accent {
  margin: 0 0 40px 0;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  line-height: 0.81;
  text-transform: capitalize;
  font-size: 140px;
  color: var(--color-main-lightblue);
}

.hero-description {
  font-size: 12px;
  line-height: 1.5;
  max-width: 238px;
  text-align: center;
}
