.modal-backdrop {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: rgba(1, 31, 74, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 36px 24px;
  border-radius: 32px;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-color: var(--color-main-darkblue);
  overflow-y: auto;
  @media screen and (min-width: $bp-tablet) {
    border-radius: 48px;
    padding: 42px 144px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  padding: 8px;
  fill: var(--color-main-white);
  transition: fill 200ms;

  &:hover {
    fill: var(--color-main-lightblue);
  }

  @media screen and (min-width: $bp-tablet) {
    top: 42px;
    right: 42px;
  }
}

.modal__title {
  margin-bottom: 24px;
  font-family: 'Play', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: var(--color-main-white);
  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 40px;
    font-size: 64px;
    font-weight: 700;
  }
}

.modal__description {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--color-main-white);

  @media screen and (min-width: $bp-tablet) {
    font-size: 22px;
    margin-bottom: 32px;
    font-weight: 600;
  }
}
